@import 'scss/index.scss';

.auth-options {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-size: 40px;
    color: $font-light;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }

  a.register,
  a.login {
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    font-size: 17px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    padding: 20px 0;
    width: 100%;
  }

  a.register {
    background-color: $primary-color;
    color: $font-light;
  }

  a.login {
    background-color: $background-light;
    color: $font-dark;
  }
}

.auth {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    background-color: $background-dark;
    opacity: 0.75;
    z-index: 0;
  }

  &__box {
    position: relative;
    background-color: $background-grey-dark;
    width: 500px;
    z-index: 1;
    padding: 50px 70px;
    border-radius: 10px;

    &-logo {
      text-align: center;
      img {
        width: 200px;
      }
    }
  }
}
