@import 'scss/index.scss';

.top-bar {
  height: 50px;
  background-color: $background-grey-dark-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 1;

  &__left {
    i {
      font-size: 20px !important;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      margin-right: 20px;
      columns: $font-light;
      &:hover {
        color: $primary-color;
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        border-radius: 50px;
      }
    }

    i {
      &:hover {
        cursor: pointer;
        color: $danger;
      }
    }
  }
}
