@import 'scss/index.scss';

.album {
  margin: 50px;

  &__header {
    display: flex;

    .image {
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .info {
      margin-left: 20px;
      h1 {
        font-size: 35px;
      }
      p {
        span > a {
          color: $font-light;
        }
      }
    }
  }

  &__songs {
    margin-top: 40px;
  }
}
