@import 'scss/index.scss';

.banner-artist {
  position: relative;
  top: 0;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 40%,
      $background-grey-dark-light 100%
    );
  }

  &__info {
    margin: 0 0 70px 50px;
    z-index: 1;

    h4 {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
    }

    h1 {
      font-size: 80px;
      margin-top: 0;
    }
  }
}
